pydeveloptools @ git+https://github.com/PaulFilms/pydeveloptools.git
PyQtDarkTheme @ git+https://github.com/PaulFilms/PyQtDarkTheme.git
pandas
PyQt6
markdown2
# pyperclip
# python-dateutil==2.8.2
# pytz==2023.3.post1
# six==1.16.0
# tzdata==2023.3
